

*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}


/*---Scroll-bar-color----*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #333534;
}



body{
    margin: 0px;
    padding: 0px;
    font-family: poopins;
    background-color: #121212;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


::selection{
    background-color: #fbff00;
    color: #080808;
}

/*--navigation-----*/

.navigation{
    display: flex;
    justify-content: center;
    padding: 30px;
    min-width: 100;
    margin: auto;
    width: 100%;
}
.navigation .menu-icon{
    cursor: pointer;
    float: right;
    padding: 20px 10px;
    z-index: 103;

}

.navigation .menu-icon .nav-icon{
    background-color: #ffffff;
    display: block;
    height: 2px;
    width: 25px;
    position: relative;
    transition: background 0.2s ease-out;
}
.navigation .menu-icon .nav-icon::before,
.navigation .menu-icon .nav-icon::after{
    background-color: #ffffff;
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transition: all ease-out 0.2s;

}
.navigation .menu-icon .nav-icon::before{
    top: 8px;
}
.navigation .menu-icon .nav-icon::after{
    top: -8px;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon {
    background-color: transparent;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0px;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0px;

}
.menu-btn{
    display: none;
}

/*--menu-----*/
.menu{
    background-color: #121212 ;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-color: #111111f1;
    z-index: 102;
    display: none ;
    justify-content: center;
    align-items: center;
    animation: fade 1.0s;

}
.menu li a{
    color: #ffffff;
    margin: 0px 40px;
    font-size: 2rem;
    font-family: Monoton;
    transition: all ease 0.3s;

}

.menu li a:hover{
    font-size: 2.3rem;
    color: #fbff00;
    transition: all ease 0.3s;
}

.navigation .menu-btn:checked ~ .menu{
    display: flex;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*--logo------*/
.logo{
    color: #fbff00;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    margin: 0px auto 0px 40px;
    display: flex;
    align-items: flex;
    font-family: Monoton;
    letter-spacing: 1px;

}
.logo span{
    font-size: 0.7rem;
    margin-left: 5px;
    font-weight: 700;
    letter-spacing: 2px;
}
/*-----search-box-----*/
.search-box{
    
    background-color: #d1d1d111;
    padding: 3px 20px;
    border-radius: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;

}
.search-box input{

    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;


}
.search-box input::placeholder{
    color: #ffffff5e;
}
.search-box- button{
    background-color: transparent;
    color: #ffffffc9;
    border: none;
    outline: none;
    cursor: pointer;

}

/*==slider============*/
#main-slider{
display: flex;
justify-content: center;
align-items: center;
margin: 20px auto;
min-width: 100%;
width: 100%;

}
.main-slider-box{
    width: 140px;
    height: 200px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #0e0e0ec2 ;
    background-color: #a7a7a7;
    position: relative;
    overflow: hidden;
    user-select: none;
}
.main-slider-img{
    width: 140px;
    height: 200px;
}
.main-slider-img img{
    width: 140px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.main-slider-txt{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #161616b9 35%, rgba (73,73,73,0.23) 64%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    justify-content: space-between;
}
.main-slider-txt .quality,
.more-about-movie .quality{
    background-color:#fbff00 ;
    color: #080808;
    font-weight: 600;
    padding: 0px 5px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.main-slider-txt .movie-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.main-slider-txt .movie-name span{
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: rgba(240, 240, 240, 0.82);
}
.main-slider-txt .movie-name strong,
.main-slider-txt .movie-name a{
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    margin-top: 10px;
    color: #fdfdfd;
    letter-spacing: 0.5px;
}
.main-slider-txt .category{
    color: #969696;
    font-size: 0.8rem;
    font-weight: 500;

}
.main-slider-txt .category a{
    color: #fbff00;
    margin: 0px 3px;
}
.rating img{
    height: 10px;
    width: 20px;
    object-fit: contain;
    object-position: center;

}
.rating{
    font-size: 0.8rem;
    color: #ffffff;
}
.main-slider-txt .category-rating{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}
.main-slider-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 100%;
    background-color: rgba(27, 27, 27, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition:  all ease 0.3s;
    z-index: 2;
}
.main-slider-overlay i{
    font-size: 2rem;
}
.main-slider-box:hover .main-slider-overlay{
    top: 0px;
    transition: all ease 0.3s;
}
.swiper-button-next,
.swiper-button-prev{
    position: static !important;
    transform: translate(0,0);
    margin: 10px 0px 0px 20px !important;
}
.slider-btns{
display: flex;
justify-content: flex-end;
max-width: 1660px;
width: 100%;
margin: 10px auto 0px auto;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 25px !important;
    font-weight: 800;
    color: #ffffff;
}

.im2 img{
    width: 85px;
    min-width: 40px;
    height: 245px;
    margin-top: -50px;
    margin-bottom: -20px;
}   

.category-rating{
    width: 100%;
    margin-bottom: -20px;
    border-radius: 15px;
    padding: 20px;
    background-color: #080808;
}

/*latest==============*/
#latest2{
    max-width: 1660px;
    margin: 30px auto;
    width: 100%;

}
.latest-heading2{
  
    color: #ffffff;
    width: 100%;
    padding: 10px 20px;
    background-color: #0e0e0ec2;
    border: 1px solid #161616b9;
}
#latest1{
    max-width: 1660px;
    width: 100%;

}
.latest-heading1{
    color: #ffffff;
    width: 100%;
    padding: 10px 20px;
}
.latest-heading1 h1{
    color: #ffffff;
    font-size: 1.14em;
    font-weight: 500;
    font-family: 'Tajawal', sans-serif;
}
.latest-heading2 h1{
    color: #ffffff;
    font-size: 1.14em;
    font-weight: 500;
   font-family: 'Tajawal', sans-serif;
}


.post-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    position: relative;
    margin: 20px 0px;

}
.post-box{
    width: 100%;
    height: 550px;
    overflow: hidden;
    background-color: #0e0e0ec2;
    border: 1px solid #161616b9;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.15);
    position: relative;
}
.post-box .post-img{
    width: 100%;
    height: 100%;
}
.post-box .post-img img{
    width: 100%;
    height: 100%;
    object-position: top center;
    object-fit: cover;
}
.main-slider-txt .movie-name a:hover{
    opacity: 0.8;
    transition: all ease 0.3s;
}
/*fooooooter--------*/
footer{
    background-color: #0e0e0ec2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

footer .copyright{
    font-family: 'Tajawal',arial;
    color: #4d4d4d;
    font-size: 1.5rem;
}   
footer .logo{
    margin: 0px;
    font-size: 2rem;
    font-weight: 400;

}
/*===Making-Home-page-Responsive=========*/
@media(max-width:1200px){
    #main-slider,
    #latest,
    .slider-btns{
        width: 90%;
    }
    .menu li a{
        margin: 0px;
        font-size: 1.6rem;
    }
    .menu{
        flex-direction: column;
    }
}
@media(max-width:1100px){
    .post-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(max-width:824px){
    .navigation{
        padding: 20px 10px;
        width: 90%;
    }
    .logo,
    footer .logo{
        font-size: 1.3rem;
    }
    .post-container{
        grid-template-columns: 1fr 1fr;
    }
    footer {
        padding: 10px 20px;
        text-align: center;
    }
}
@media(max-width:530px){
    .navigation{
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 20px 0px;
    }
    .swiper-mySwiper{
        max-width:  10px;
    }
    .logo{
        position: relative;
        margin: 0px;
       
    }
    .search-box{
        grid-column-start: 1;
        grid-column-end: 2;
        width: 100%;
        border-radius: 0px;
    }
    .im2 img {
        margin: 10px;
        width: 60px;
       height: 100px;

    }
    .menu li a:hover{
        font-size: 1.8rem;
    }
    .post-container{
        grid-gap: 15px;

    }
    .post-box{
        height: 450px;
    }
    footer .copyright{
        font-size: 0.8rem;
    }
}
@media(max-width:480px){
    .post-container{
        grid-template-columns: auto ;
    }
    .post-box{
        height: 500px;
    }
}
/*----Movie-Page---------------*/
.movie-banner{
    width: 90%;
    max-width: 1400px;
    margin: 10px auto;
    min-height: 520px;
    padding: 60px 40px 0px 40px;
    position: relative;
    display: flex;
    justify-content: center;
}
.movie-banner::after{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(32, 32, 32, 0.7);
    background: linear-gradient(0deg, rgb(8,8,8) 0%, rgba(0,0,0,0.6) 100%);

}



.m-banner-img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.m-banner-img::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(32, 32, 32, 0.7);
    background: linear-gradient(-90deg, rgb(37,37,37,0.2) 0%, rgba(15,15,15,0.3) 100%);

}
.m-banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.banner-container{
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    position: relative;
}
.title-container{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.movie-title h1{
    color: #ffffff;
    font-weight: 600;
    font-size: 2.7rem;
    line-height: 50px;
    letter-spacing: 1px;
}
.more-about-movie{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
    color: #e9e9e9;

}

.more-about-movie .rating,
.more-about-movie span{
    margin-right: 20px;
    letter-spacing: 1px;
    font-size: 0.8rem;
}
.language{
    margin-top: 20px;
}

.language .category{
    color: #ffffff;
    font-size: 0.8rem;

}
.language .category a{
    color: #fbff00;
    margin: 0px 8px;
}

.language span{

    background-color: #dfdfdf0e;
    padding: 5px 10px;
    margin-right: 10px;
    color: #dfdfdf;
    font-size: 0.8rem;
}
.title-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}
.title-bottom .category{
    margin-right: 40px;
}
.title-bottom .category strong{
    font-weight: 500;
    color: #ffffff;
}
.watch-btn{
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff09;
    border: 1px solid #ffffff2c;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #ffffff;
    letter-spacing: 1px;
    transition: all ease 0.3s;
}
.watch-btn:hover{
    color: #080808;
    background-color: #fbff00;
    transition: all ease 0.3s;
}
.category{
    margin-top: 10px ;
    color: #ffffff;
}
/*----play-btn-----*/   
.play-btn{
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #dadada48;
    z-index: 3;
    background-color: rgba(255,0,0,0.185);
}
.play-btn a{
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all ease 0.3s;

}
.play-btn a:hover{
    background-color: #fbff00;
    transition: all ease 0.3s;

}

.play-btn i{
    color: #ffffff;
}
.play-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 500px;
}
@media(max-max:1000px){
    .watch-btn{
        margin-top: 20px;
    }
}
@media(max-width:750px){
    .banner-container{
        grid-template-columns: 1fr;
    }
    .play-btn-container{
        margin-top: 50px;
        display: flex;
    }
}
@media(max-width:660px){
    .movie-banner{
        padding: 20px;
    }
}